@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --peach-50: #fff5eb;
  --peach-75: #ffe8d9;
  --peach-100: #fee2e2;
  --peach-200: #fcd5ce;
  --peach-300: #fbd7bc;
  --peach-400: #ff7a57;
  --peach-500: #f8856b;
  --peach-600: #e04a2b;
  --peach-700: #b83822;
  --peach-800: #8a291a;
  --peach-900: #5c1810;
  --font-navbar: 'Poppins';
  --font-heading: 'Poppins';
  --font-body: 'Lato';
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.font-navbar {
  font-family: var(--font-navbar);
}
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.italic {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

.heading-bold {
  font-weight: 700;
}

.bg-peach-50 {
  background-color: var(--peach-50);
}
.bg-peach-75 {
  background-color: var(--peach-75);
}
.bg-peach-100 {
  background-color: var(--peach-100);
}
.bg-peach-200 {
  background-color: var(--peach-200);
}
.bg-peach-400 {
  background-color: var(--peach-400);
}
.bg-peach-600 {
  background-color: var(--peach-600);
}
.bg-peach-700 {
  background-color: var(--peach-700);
}
.text-peach-500 {
  color: var(--peach-500);
}
.text-peach-800 {
  color: var(--peach-800);
}
.text-peach-900 {
  color: var(--peach-900);
}
.border-peach-200 {
  border-color: var(--peach-200);
}
.border-peach-300 {
  border-color: var(--peach-300);
}
.border-peach-400 {
  border-color: var(--peach-400);
}
.border-peach-600 {
  border-color: var(--peach-600);
}

/* Add hover effect for custom peach classes */
.hover\:bg-peach-50:hover {
  background-color: var(--peach-50);
}
.hover\:bg-peach-400:hover {
  background-color: var(--peach-400);
}
.hover\:bg-peach-600:hover {
  background-color: var(--peach-600);
}
.hover\:bg-peach-700:hover {
  background-color: var(--peach-700);
}
.hover\:text-peach-500:hover {
  color: var(--peach-500);
}
.hover\:text-peach-50:hover {
  color: var(--peach-50);
}
.hover\:text-peach-900:hover {
  color: var(--peach-900);
}
.hover\:text-peach-600:hover {
  color: var(--peach-600);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideInLeft {
  animation: slideInLeft 0.3s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideInRight {
  animation: slideInRight 0.3s cubic-bezier(0.4, 0, 0.2, 1) both;
}
